.nav{
    width: 100%;
    border-bottom: 7px double gray;

}
.name{
    font-size: 30px;
}

.navContainer{
    display: flex;
    justify-content: space-between;
}

.navButton{
    height: 100%;
    width: 100%;
    background-color: gray;
    border: none;
    color: white;
    text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.67)

}
#loginButton{
    border-bottom: 1px solid black;
}

.logo{
    height: 60px;
    width: auto;
    background-color: gray;
    padding: 5px;
    margin: 5px;
}

.noUser{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border:1px  solid black;
    width: 10%;
}
