.container{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
}
.matches{
    width: 50%;
    display: flex;
}
.matchInfo{
    height: 50%;
    width: 25%;

}
.match{
    width: 100%;
    background-color: grey;
    flex-direction: row;
}
